
body {
    background-color: rgba(26, 28, 28);
}
.banner {
    left: -.8vw;
    width: 99.4vw;
    height: 10vh;
    background-color: none;
    text-align: center;
    font-size: 2vw;
    color: darkgray;
    float: center;
    position: relative;

}



.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
    left: -.8vw;
    width: 99.4vw; 
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: .8vw;
    padding: .8vw;
    width: 18.27vw;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin: 10vw;
    margin-bottom: 10vh;
    margin-top: 4vh;
    width: 100vw - 2vw;
    height: 1280px;
  }

  footer {
    text-align: center;
  }

